@import "@/styles/global.scss";

.logo {
  height: 3.8rem;
}

.signmessage {
  margin-top: 1.6rem;
  line-height: 2.4rem;
  font-size: 1.6rem;
}

.signmessage a {
  color: #6d6afe;
  font-weight: 600;
  text-decoration: underline;
  line-height: normal;
}
