@import "@/styles/global.scss";

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 2.4rem;
  width: 40rem;
  font-size: 14px;
  color: #373740;
  border-radius: 8px;
  border: 1px solid #CCD5E3;
  background-color: #E7EFFB;
}

.icon {
  height: 4.2rem;
}

.container a:first-child {
  margin-right: 1.6rem;
}